---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />
    <meta property="og:title" content="David Alecrim">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Hey there! I'm David, feel free to reach out anytime!">
    <meta property="og:image" content="https://www.davidalecrim.dev/assets/images/logo.png" />
    <meta property="og:image:width" content="420" />
    <meta property="og:image:height" content="420" />
    <meta name="twitter:image" content="https://www.davidalecrim.dev/assets/images/logo.png" />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body class='bg-slate-900 text-gray-100'>
    <Navbar />

    <slot></slot>

    <Footer />
  </body>
</html>
