---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R9439L0CKF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R9439L0CKF');
    </script>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />
    <meta property="og:title" content="David Alecrim">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Hey there! I'm David, feel free to reach out anytime!">
    <meta property="og:image" content="https://www.davidalecrim.dev/assets/images/logo.png" />
    <meta property="og:image:width" content="420" />
    <meta property="og:image:height" content="420" />
    <meta name="twitter:image" content="https://www.davidalecrim.dev/assets/images/logo.png" />


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#eaeaea">

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
  </head>
  <body class='bg-slate-900 text-gray-100'>
    <Navbar />

    <slot></slot>

    <Footer />
  </body>
</html>
