---
import type {
  FrontmatterPage,
} from 'astro-boilerplate-components';
import {
  PaginationHeader,
  Section,
} from 'astro-boilerplate-components';

import { BlogGallery } from '@/partials/BlogGallery';
import { NewerOlderPagination } from '@/partials/NewerOlderPagination';
import { CTA } from '@/partials/CTA';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/DateSortPredicate';
import { IFrontmatter } from '@/types/FrontMatter';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allTalks = await Astro.glob<IFrontmatter>('./*.md');
  const sortedTalks = sortByDate(allTalks);

  // Return a paginated collection of paths for all posts
  return paginate(sortedTalks, { pageSize: 6 });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Talks`;
const title = titleBase + titleSuffix;
const description =
  'Talk list';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title='My talks'
      description='Talks are a part of my strategy to share knowledge, so here are a list of them. Hopefully it will grow over time!'
    />
  </Section>

  <Section>
    <BlogGallery postList={page.data} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} type="Talks" />
  </Section>

  <CTA />
</Base>
